.App {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  
}
header{
  margin: 10px 10px 20px 10px;
  width: 60%;
  margin: auto;
}
.form-container{
  width: 60%;
  margin: auto;
}
.todoList{
  width: auto;
  padding: 20px;
  
}
.todo{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  border: 1px solid grey;
  font-size: large;
}
.group{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.group .text{
  margin-left: 20px;
  font-size: 25px;
}
#delete-button{
  margin-right: 50px;
}
#delete-button button{
  background-color: red;
  color: white;
  padding: 5px 5px 5px 5px;
  font-size: large;
}
.counter{
  width: 60%;
  margin: auto;
}
form{
  font-size: large;
}
.form input{
  font-size: large;
}
.form form input{
  margin-left: 10px;
}
.form form button{
  margin: 10px;
  font-size: large;
  background-color: blue;
  color: white;
}















