.App {
  box-sizing: border-box;
}
.todoList{
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px 10px 20px 10px;
}
.todo{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  border: 1px solid grey;
  font-size: large;
  
}
.group{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.group .text{
  margin-left: 20px;
  font-size: 25px;
}
#delete-button{
  margin-right: 50px;
}
#delete-button button{
  background-color: red;
  color: white;
}















